.a{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid white;
}
.b{
    height: 100%;
    width: 50%;
    background-color: white;
    bottom: 1px solid color;
    float: right;
}
.z1{
    font-size: 35px;
    color: black;
    margin-left: 15%;
}
#z2{
    height: 400px;
    width: 300px;
    margin-left: 25%;
    margin-top: 15px;
}
.c{
        height: 100%;
        width: 50%;
        background-color: white;
        bottom: 1px solid color;
        float: left;
}